
@model AddressBook_mvc3_jQuery.Models.Person            
@{ViewBag.Title = "Save image";}
                                                                    
@using (Html.BeginForm("SavePersonPic", "Person", FormMethod.Post,
                                                                    new
                                                                    {
                                                                        enctype = "multipart/form-data",        
                                                                        id = "savePersonPicForm",
                                                                        name = "savePersonPicForm",
                                                                        target = "UploadTarget"
                                                                    }))        
{
    @Html.ValidationSummary(true)    
    
    <div id="update-message" class="error invisible"></div>    
    <fieldset>
        <legend>Person Picture</legend> 
        <div class="editor-label">
            <label for="file">Upload Image:</label>
        </div>
        <div class="editor-field">
            <input type="file" name="file" id="file"/>        
        </div>      

    </fieldset>        
}

<iframe id="UploadTarget" name="UploadTarget" onload="UploadImage_Complete();" 
        style="position: absolute; left: -999em; top: -999em;">
</iframe>


