@{
    ViewBag.Title = "Home Page";
}



<br />
<h3>The aim of this study is to develop an application which includes MVC3, JQuery, json scripts</h3>
<br />
For simplicity of the example some static lists are used instead of database.
<br />
<br />
@Html.ActionLink("Person List", "PersonList", "Person")
<br />
<br />

